<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
  </startup>
  <appSettings>
    <add key="InputURI" value="http://localhost:9080/TVAMain"/>
    <add key="InputFolder" value="d:\temp\ServiceIdMapper\Input\Staged"/>
    <add key="TempFolder" value="d:\temp\ServiceIdMapper\Input\Temp"/>
    <add key="OutputFolder" value="d:\temp\ServiceIdMapper\Input"/>
    <add key="MappingFile" value="d:\temp\ServiceIdMapper\ServiceMap.xml"/>
    <add key="LogFile" value="d:\temp\ServiceIdMapper\TvaTransformer.log"/>
  </appSettings>
</configuration>
